@import "variables";

body.dark {
  color: $dark-text;
  background-color: $dark-background;

  .navbar-container {
    background-color: $dark-navbar-background;

    .hamburger-btn {
      transition: .1s linear;
      border: 1px solid $dark-text;
      svg {
        transition: .1s linear;
        color:  $dark-text;
      }
    }
    .hamburger-btn:hover {
      border: 1px solid $light-blue;
      svg {
        color: $light-blue;
      }
    }
  }

  .develop-content {
    color: orange;
  }

  .page-menu {
    background-color: rgb(255 255 255 / 0.1);
  }

  .active-page {
    text-shadow: 0 0 10px $dark-text;
    font-weight: bold;
  }
  .translate-icon {

  }

  .footer-container {
    background-color: $dark-navbar-background;
  }

  .menu-page-item:hover {
    color: $dark-royal-blue
  }

  .navbar-container, .footer-container {
    .navbar-item-home:hover {
      color: $light-royal-blue;
    }
    .navbar-item {
      a {
        h4, span, svg {
          transition: .2s linear;
        }
      }

      &:hover {
        a {
          h4, span, svg {
            color: $light-royal-blue;
          }
        }
      }
    }
  }

  .ant-modal {
    color: $dark-text;
    .ant-modal-content {
      background: $dark-background;
    }
  }

  .lang-modal-btn {
    background: $dark-royal-blue;
    color: $dark-text;
    transition: .2s linear;

    &:hover {
      background: $light-royal-blue;
    }
  }

  .linked-in-icon {
    color: $dark-royal-blue;
    background: $dark-text;
  }

  .github-icon {
    color: $dark-text;
  }

  .neon-card {
    color: $dark-text;
    div.neon-card-background {
      position: absolute;
      inset: 6px;
      z-index: 2;
      background: rgba(0, 0, 0, .4);
    }
    .neon-card-title, .neon-card-content {
      position: relative;
      z-index: 3;
    }
  }
  .neon-card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .neon-card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
  }
  .neon-card-variant-student {
    background: linear-gradient(315deg, #00f7ff, #0050b0);
    &:after {
      content: '';
      background: linear-gradient(315deg, #00f7ff, #0050b0);
    }
  }
  .neon-card-variant-experience {
    background: linear-gradient(315deg, #53fa00, #068d03);
    &:after {
      content: '';
      background: linear-gradient(315deg, #53fa00, #068d03);
    }
  }
  .about-button {
    position: relative;
    border: 3px solid $light-blue;
    padding: 1rem 1.5rem;
    border-radius: 1.25rem;
    text-align: center;
    margin: 0 auto;
    color: $light-blue;
    font-weight: bold;
    text-shadow: 0 0 .125em $dark-text, 0 0 .125em #fff;
    box-shadow: inset 0 0 .5em 0 $dark-text, 0 0 .5em 0 #fff;

    &:hover {
      background:$light-blue;
      text-shadow: none;
      color: $dark-background
    }

    &:hover:after {
      opacity: 1;
    }

    &:after {
      content: '';
      border-radius: 1.25rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      box-shadow: 0 0 2em .5em $light-blue, 0 0 .5em 0 $light-blue;
      transition: opacity 100ms linear;
    }

    &:before {
      content: '';
      position: absolute;
      background: $light-blue;
      top: 80%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: perspective(1rem) rotateX(40deg) scale(1, .35);
      filter: blur(1rem);
      opacity: .7;
    }
  }

}