@import "variables";

body.dark {
  color: $dark-text;
  background-color: $dark-background;

  .navbar-container {
    background-color: $dark-navbar-background;

    .hamburger-btn {
      transition: .1s linear;
      border: 1px solid $dark-text;
      svg {
        transition: .1s linear;
        color:  $dark-text;
      }
    }
    .hamburger-btn:hover {
      border: 1px solid $light-blue;
      svg {
        color: $light-blue;
      }
    }
  }

  .develop-content {
    color: orange;
  }

  .page-menu {
    background-color: rgb(255 255 255 / 0.1);
  }

  .active-page {
    text-shadow: 0 0 10px $dark-text;
    font-weight: bold;
  }
  .translate-icon {

  }

  .footer-container {
    background-color: $dark-navbar-background;
  }

  .menu-page-item:hover {
    color: $dark-royal-blue
  }

  .navbar-container, .footer-container {
    .navbar-item-home:hover {
      color: $light-royal-blue;
    }
    .navbar-item {
      a {
        h4, span, svg {
          transition: .2s linear;
        }
      }

      &:hover {
        a {
          h4, span, svg {
            color: $light-royal-blue;
          }
        }
      }
    }
  }

  .ant-modal {
    color: $dark-text;
    .ant-modal-content {
      background: $dark-background;
    }
  }

  .lang-modal-btn {
    background: $dark-royal-blue;
    color: $dark-text;
    transition: .2s linear;

    &:hover {
      background: $light-royal-blue;
    }
  }

  .linked-in-icon {
    color: $dark-royal-blue;
    background: $dark-text;
  }

  .github-icon {
    color: $dark-text;
  }

}