@import "variables";

body.light {
  color: $light-text;
  background-color: $light-background;

  .navbar-container {
    background-color: $light-navbar-background;

    .hamburger-btn {
      transition: .1s linear;
      border: 1px solid $light-text;
      svg {
        transition: .1s linear;
        color:  $light-text;
      }
    }
    .hamburger-btn:hover {
      border: 1px solid $light-royal-blue;
      svg {
        color: $light-royal-blue;
      }
    }
  }

  .ant-modal {
    color: $light-text;
    .ant-modal-content {
      background: $light-background;
    }
  }

  .lang-modal-btn {
    background: $dark-links-hover-colors;
    color: $dark-text;
    transition: .2s linear;

    &:hover {
      background: $dark-royal-blue;
    }
  }

  .page-menu {
    background-color: rgb(0 0 0 / 0.1);
  }

  .develop-content {
    color: darkred;
  }

  .active-page {
    text-shadow: 0 0 7px $light-text;
    font-weight: bold;
  }
  .translate-icon {

  }

  .footer-container {
    background-color: $light-navbar-background;
  }

  .menu-page-item:hover {
    color: $light-royal-blue
  }

  .navbar-container, .footer-container {
    .navbar-item-home:hover {
      color: $dark-royal-blue;
    }
    .navbar-item {
      a {
        h4, span, svg {
          transition: .2s linear;
        }
      }

      &:hover {
        a {
          h4, span, svg {
            color: $dark-royal-blue;
          }
        }
      }
    }
  }

  .linked-in-icon {
    color: $dark-royal-blue;
    background: $dark-text;
  }

  .github-icon {
    color: $light-text;
  }

  .neon-card {
    color: $dark-text;
    div.neon-card-background {
      position: absolute;
      inset: 6px;
      z-index: 2;
    }
    .neon-card-title, .neon-card-content {
      position: relative;
      z-index: 3;
    }
  }
  .neon-card-variant-student {
    background: $dark-royal-blue;
    &:after {
      content: '';
      background: $dark-royal-blue;
    }
  }
  .neon-card-variant-experience {
    background: $light-text;
    &:after {
      content: '';
      background: $light-text;
    }
  }

  .about-button {
    position: relative;
    border: 3px solid $dark-blue;
    background: $dark-blue;
    padding: 1rem 1.5rem;
    border-radius: 1.25rem;
    text-align: center;
    margin: 0 auto;
    color: $dark-text;
    font-weight: bold;
    transition: .2s linear;

    &:hover {
      background:$light-royal-blue;
      border: 3px solid $light-royal-blue;
      color: $dark-background
    }
  }

}